.header {
  display: flex;
  position: relative;
  top: 4vw;
  left: 4vw;
}

img {
  width: 15%;
}

.desktop-view {
  display: block;
}

/* Styles for mobile view */
.mobile-view {
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 500px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
    position: relative;
    top: 70px;
  }

  .header-image {
    text-align: center;
  }

  .sub-text1 {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.64px;
  }

  .sub-text2 {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
  }
}

